@inherits UmbracoViewPage


@{
    var menuItemsList = Model.Root().Descendants<MenuItemsList>().FirstOrDefault();
    var menuItems = menuItemsList.Descendants<MenuItem>().Where(x => x.IsVisible()).OrderByDescending(y => y.ItemCreation);

    var isMenuListPage = menuItemsList.Id == Model.Id;
    var fallbackPageSize = isMenuListPage ? 10 : 3;

    var pageNumber = 1;
    var pageSize = fallbackPageSize;

    var pageOfMenuItems = menuItems.Skip((pageNumber - 1) * pageSize).Take(pageSize);
    var totalItemCount = menuItems.Count();
    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;

}

@if (menuItems != null && menuItems.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @foreach (var menuItem in pageOfMenuItems)
                {

                    var image = menuItem.ProductImage;
                    string imageUrl = "";
                    if (image != null)
                    {
                        imageUrl = image.GetCropUrl(1903, 532);
                    }

                    <div class="post-preview">
                        <a href="@menuItem.Url">
                            <div>
                                <img src="@imageUrl" alt="img" style="width: 100%"/>
                            </div>
                            <h2 class="post-title">
                                @(!string.IsNullOrWhiteSpace(menuItem.Title) ? menuItem.Title : menuItem.Name)
                            </h2>
                        </a>
                    </div>
                    <hr>
                }


                
                <!-- Pager -->
            <div id="paging" class="clearfix">
                @if (isMenuListPage)
                {
                    <div class="paging-block">
                        @if (pageNumber > 1)
                        {
                            <a class="btn btn-primary float-left" href="@($"{menuItemsList.Url}?page={pageNumber - 1}&size{pageSize}")">Previous</a>
                        }
                        else
                        {
                            @Html.Raw("&nbsp;")
                        }
                    </div>

                    <div class="paging-block">
                        <span>Page @pageNumber of @pageCount </span>
                    </div>

                    <div class="paging-block">
                        @if (pageNumber < pageCount)
                        {
                            <a class="btn btn-primary float-right" href="@($"{menuItemsList.Url}?page={pageNumber + 1}&size{pageSize}")">Next</a>
                        }
                        else
                        {
                            @Html.Raw("&nbsp;")
                        }
                    </div>
                }
                else
                {
                    <a class="btn btn-primary float-right" href="@(menuItemsList.Url)">
                        View all
                    </a>
                }


            </div>
            </div>
        </div>
    </div>
}



